&lt;div class=&quot;panel-group bootstrap-fieldgroup-accordion&quot; id=&quot;bootstrap-fieldgroup-accordion--person-information&quot;&gt;

      
        &lt;div class=&quot;panel panel-default group-person-information-name field-group-bootstrap_fieldgroup_accordion_item&quot;&gt;

          &lt;div class=&quot;panel-heading&quot;&gt;
            &lt;h4 class=&quot;panel-title&quot;&gt;
              &lt;a data-toggle=&quot;collapse&quot; data-parent=&quot;#bootstrap-fieldgroup-accordion--person-information&quot; href=&quot;#bootstrap-fieldgroup-accordion-item--name-0&quot;&gt;
                Name              &lt;/a&gt;
            &lt;/h4&gt;
          &lt;/div&gt;

          &lt;div id=&quot;bootstrap-fieldgroup-accordion-item--name-0&quot; class=&quot;panel-collapse collapse group-person-information-name field-group-bootstrap_fieldgroup_accordion_item&quot;&gt;
            &lt;div class=&quot;panel-body&quot;&gt;&lt;div class=&quot;field field-name-field-first-name field-type-text field-label-hidden&quot;&gt;&lt;div class=&quot;field-items&quot;&gt;&lt;div class=&quot;field-item even&quot;&gt;Tim&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;div class=&quot;field field-name-field-last-name field-type-text field-label-hidden&quot;&gt;&lt;div class=&quot;field-items&quot;&gt;&lt;div class=&quot;field-item even&quot;&gt;Arnold&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
          &lt;/div&gt;

        &lt;/div&gt;

      
        &lt;div class=&quot;panel panel-default group-person-information-address field-group-bootstrap_fieldgroup_accordion_item&quot;&gt;

          &lt;div class=&quot;panel-heading&quot;&gt;
            &lt;h4 class=&quot;panel-title&quot;&gt;
              &lt;a data-toggle=&quot;collapse&quot; data-parent=&quot;#bootstrap-fieldgroup-accordion--person-information&quot; href=&quot;#bootstrap-fieldgroup-accordion-item--address-1&quot;&gt;
                Address              &lt;/a&gt;
            &lt;/h4&gt;
          &lt;/div&gt;

          &lt;div id=&quot;bootstrap-fieldgroup-accordion-item--address-1&quot; class=&quot;panel-collapse collapse group-person-information-address field-group-bootstrap_fieldgroup_accordion_item&quot;&gt;
            &lt;div class=&quot;panel-body&quot;&gt;&lt;div class=&quot;field field-name-field-street-address field-type-text field-label-hidden&quot;&gt;&lt;div class=&quot;field-items&quot;&gt;&lt;div class=&quot;field-item even&quot;&gt;10614 Glenwild Rd.&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;div class=&quot;field field-name-field-email-address field-type-text field-label-hidden&quot;&gt;&lt;div class=&quot;field-items&quot;&gt;&lt;div class=&quot;field-item even&quot;&gt;tim.arnold@beaconfire-red.com&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;
          &lt;/div&gt;

        &lt;/div&gt;

      
    &lt;/div&gt;