<section class="section latest-posts">
	<h2 class="section-title">Latest Posts</h2>

	<article>{{> molecules-media-block }}</article>
	<article>{{> molecules-media-block }}</article>
	<article>{{> molecules-media-block }}</article>
	<article>{{> molecules-media-block }}</article>
	<article>{{> molecules-media-block }}</article>

	<a href="#" class="btn">View more posts</a>
</section>