<form class="form-search content-search" action="{{ url }}" method="post" id="search-block-form" accept-charset="UTF-8"><div>

	<!-- THEME DEBUG -->
	<!-- CALL: theme('search_block_form') -->
	<!-- BEGIN OUTPUT from 'sites/all/themes/bootstrap/theme/search/search-block-form.tpl.php' -->
	<div>
		<h2 class="element-invisible">Search form</h2>
		<div class="input-group">
			<input title="Enter the terms you wish to search for." placeholder="Search" class="form-control form-text form-search" type="search" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default">Search</button>
			</span>
		</div>
		<button class="element-invisible btn btn-primary form-submit" id="edit-submit" name="op" value="Search" type="submit">Search</button>
	</div>

<!-- END OUTPUT from 'sites/all/themes/bootstrap/theme/search/search-block-form.tpl.php' -->

</div></form>


