<form action="{{ url }}" method="post" class="inline-form newsletter-form">           
    <fieldset>
	    <legend>Sign up for our newsletter</legend>
	    <label for="newsletter-field">Sign up for our newsletter</label>
	    <div class="input-group">
	   		<input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="form-control form-text" />
		    <span class="input-group-btn"><button class="btn btn-default">Sign Me Up</button></span>
		</div>
    </fieldset>
</form>