<div class="social">
	<ul>
		<li>
			<a class="web-icon web-icon-facebook" href="{{ url }}">
				<span>Like us</span>
			</a>
		</li>
		<li>
			<a class="web-icon web-icon-instagram" href="{{ url }}">
				<span>@instagramHandle</span>
			</a>
		</li>
		<li>
			<a class="web-icon web-icon-twitter" href="{{ url }}">
				<span>@twitterHandle</span>
			</a>
		</li>
	</ul>
</div>