<div class="panel-group bootstrap-fieldgroup-accordion" id="bootstrap-fieldgroup-accordion--person-information">

      
        <div class="panel panel-default group-person-information-name field-group-bootstrap_fieldgroup_accordion_item">

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bootstrap-fieldgroup-accordion--person-information" href="#bootstrap-fieldgroup-accordion-item--name-0">
                Name              </a>
            </h4>
          </div>

          <div id="bootstrap-fieldgroup-accordion-item--name-0" class="panel-collapse collapse group-person-information-name field-group-bootstrap_fieldgroup_accordion_item">
            <div class="panel-body"><div class="field field-name-field-first-name field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Tim</div></div></div><div class="field field-name-field-last-name field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">Arnold</div></div></div></div>
          </div>

        </div>

      
        <div class="panel panel-default group-person-information-address field-group-bootstrap_fieldgroup_accordion_item">

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bootstrap-fieldgroup-accordion--person-information" href="#bootstrap-fieldgroup-accordion-item--address-1">
                Address              </a>
            </h4>
          </div>

          <div id="bootstrap-fieldgroup-accordion-item--address-1" class="panel-collapse collapse group-person-information-address field-group-bootstrap_fieldgroup_accordion_item">
            <div class="panel-body"><div class="field field-name-field-street-address field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">10614 Glenwild Rd.</div></div></div><div class="field field-name-field-email-address field-type-text field-label-hidden"><div class="field-items"><div class="field-item even">tim.arnold@beaconfire-red.com</div></div></div></div>
          </div>

        </div>

      
    </div>