<div class="alert alert-success" role="alert">{{ excerpt.short }}</div>
<div class="alert alert-info" role="alert">{{ excerpt.short }}</div>
<div class="alert alert-warning" role="alert">{{ excerpt.short }}</div>
<div class="alert alert-danger" role="alert">{{ excerpt.short }}</div>