<!-- Begin .header -->
<header id="navbar" role="banner" class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			{{> atoms-logo }}
		</div>

		<div class="navbar-collapse collapse">
			{{> molecules-primary-nav }}
		</div>		

		<a href="#search-form" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
		<a href="#nav" class="nav-toggle nav-toggle-menu icon-menu"><span class="is-vishidden">Menu</span></a>
		
		{{> molecules-search }}
	</div>
</header>
<!-- End .header -->