&lt;form action=&quot;{{ url }}&quot; method=&quot;post&quot; class=&quot;inline-form search-form&quot;&gt;           
	&lt;div class=&quot;input-group&quot;&gt;
		&lt;input title=&quot;Enter the terms you wish to search for.&quot; placeholder=&quot;Search&quot; class=&quot;form-control form-text form-search&quot; type=&quot;search&quot; id=&quot;edit-search-block-form--2&quot; name=&quot;search_block_form&quot; value=&quot;&quot; size=&quot;15&quot; maxlength=&quot;128&quot;&gt;
		&lt;span class=&quot;input-group-btn&quot;&gt;&lt;button type=&quot;submit&quot; class=&quot;btn btn-default&quot;&gt;Search&lt;/button&gt;&lt;/span&gt;
	&lt;/div&gt;
&lt;/form&gt;


