<div class="demo">
	<!--Grid 4up-->
	<div class="row">
		<div class="gi col-sm-3">1/4</div>
		<div class="gi col-sm-3">1/4</div>
		<div class="gi col-sm-3">1/4</div>
		<div class="gi col-sm-3">1/4</div>
	</div>
</div>