&lt;ul class=&quot;pagination&quot;&gt;&lt;li class=&quot;active first&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a title=&quot;Go to page 2&quot; href=&quot;{{ url }}&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a title=&quot;Go to page 3&quot; href=&quot;{{ url }}&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a title=&quot;Go to page 4&quot; href=&quot;{{ url }}&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a title=&quot;Go to page 5&quot; href=&quot;{{ url }}&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a title=&quot;Go to page 6&quot; href=&quot;{{ url }}&quot;&gt;6&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;next last&quot;&gt;&lt;a title=&quot;Go to next page&quot; href=&quot;{{ url }}&quot;&gt;next &rsaquo;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;