<div class="page" id="page">
	{{> organisms-header }}
	<div role="main">
		<h1 class="section-title">Our Outdoor Blog</h1>
		<div class="row">
			<div class="col-sm-9">
				{{> organisms-latest-posts }}
				{{> molecules-pagination }}
			</div><!--end l-main-->

			<div class="col-sm-3">
				{{> organisms-recent-tweets }}
			</div><!--end l-sidebar-->
		</div><!--end two-col-->
	</div><!--End role=main-->
	{{> organisms-footer }}
</div>