&lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;{{ excerpt.short }}&lt;/div&gt;
&lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;{{ excerpt.short }}&lt;/div&gt;
&lt;div class=&quot;alert alert-warning&quot; role=&quot;alert&quot;&gt;{{ excerpt.short }}&lt;/div&gt;
&lt;div class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;{{ excerpt.short }}&lt;/div&gt;