<ul class="pagination"><li class="active first"><a href="{{ url }}">1</a></li>
<li><a title="Go to page 2" href="{{ url }}">2</a></li>
<li><a title="Go to page 3" href="{{ url }}">3</a></li>
<li><a title="Go to page 4" href="{{ url }}">4</a></li>
<li><a title="Go to page 5" href="{{ url }}">5</a></li>
<li><a title="Go to page 6" href="{{ url }}">6</a></li>
<li class="next last"><a title="Go to next page" href="{{ url }}">next ›</a></li>
</ul>