<div class="bootstrap-nav-wrapper">
	<ul class="nav nav-tabs">
		<li class="active"><a href="{{ url }}" class="active" data-toggle="tab">Tab 1</a></li>
		<li><a href="{{ url }}" data-toggle="tab">Tab 2</a></li>
		<li><a href="{{ url }}" data-toggle="tab">Tab 3</a></li>
	</ul>
</div>