&lt;article class=&quot;teaser&quot;&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;
		&lt;div class=&quot;teaser-image&quot;&gt;
			{{&gt; atoms-square }}
		&lt;/div&gt;
		&lt;div class=&quot;teaser-body&quot;&gt;
			&lt;h2 class=&quot;teaser-title&quot;&gt;{{ headline.short }}&lt;/h2&gt;
			&lt;p&gt;{{ excerpt.medium }}&lt;/p&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/article&gt;