<article class="teaser">
    <a href="{{ url }}">
		<div class="teaser-image">
			{{> atoms-square }}
		</div>
		<div class="teaser-body">
			<h2 class="teaser-title">{{ headline.short }}</h2>
			<p>{{ excerpt.medium }}</p>
		</div>
	</a>
</article>