&lt;ol class=&quot;breadcrumb&quot;&gt;
	&lt;li class=&quot;first&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Grandparent&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Parent&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Child&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Grandchild&lt;/a&gt;&lt;/li&gt;
	&lt;li class=&quot;last&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Great-Grandchild&lt;/a&gt;&lt;/li&gt;
&lt;/ol&gt;